@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "SN Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 

NAV 

*/

#landing-page {
    background-color: red;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 160px;
}

/* .nav__bg--wrapper {
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__bg--img {
    width: 100%;
    opacity: 0.3;
    overflow: hidden;
} */

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 40px;
}

.nav__link--anchor {
    font-size: 20px;
    color: white;
}

.nav__logo--wrapper {
    display: flex;
    justify-content: start;
    padding: 0 40px;
}

.nav__logo--img {
    font-size: 32px;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
}

.search__bar {
    border-radius: 24px;
    border: none;
    padding: 12px;
    width: 30vw;
}

.search__btn {
    border-radius: 24px;
    border: none;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.567);
}