@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "SN Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.no-cursor {
    cursor: not-allowed;
}
/* 

NAV 

*/

#landing-page {
    background-color: red;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 120px;
}

/* .nav__bg--wrapper {
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__bg--img {
    width: 100%;
    opacity: 0.3;
    overflow: hidden;
} */

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 40px;
}

.nav__link--anchor {
    font-size: 20px;
    color: white;
}

.nav__logo--wrapper {
    display: flex;
    justify-content: start;
    padding: 0 40px;
}

.nav__logo--img {
    font-size: 40px;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
}

.search__engine {
    padding: 16px;
}

.search__bar {
    border-radius: 24px;
    border: none;
    padding: 12px;
    width: 36vw;
}

.search__btn {
    border-radius: 24px;
    border: none;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.567);
}

/*

MOVIES

*/

#movies {
    background-image: linear-gradient(320deg, red, purple);
    height: 100vh;
    width: 100%;
    color: white;
}

.search__results {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.movie {
    width: calc(100/3);
    padding: 24px 0;
}

.movie__wrapper {
    background-color: aqua;
    height: 32vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: all 300ms ease;
    position: relative;
}

.movie__description {
    width: 100%;
}

.movie__wrapper:hover {
    transform: scale(1.03);
    opacity: 0.6;
}

.see-more {
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie__wrapper:hover .see-more {
    visibility: visible;
}

.movie__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*

FOOTER

*/

footer {
    background-color: purple;
    color: white;
    height: 22vh;
}

.footer__row {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

.footer__links {
    display: flex;
    justify-content: space-evenly;
}

.footer__link {
    color: white;
    font-size: 18px;
    padding: 20px;
    margin-top: 24px;
}

.footer__logo--wrapper {
    display: flex;
    justify-content: center;
}

.footer__logo--img {
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
}

.footer__copyright {
    text-align: center;
}